<!DOCTYPE html>
<html>
   <head>
      <title>
         <h1> Sentiment Key to User Prediction</h1>
      </title>
   </head>
   <body>
      <p >
      <h1>
         <center> Sentiment Key to User Identification </center>
      </h1>
      </p>
      <p> 
      <h2>
      Home page </h3></p>
      <link rel="stylesheet" type="text/css" href="..\static\styles\common.css">
      <div class="container">
         <form method="post" name="registerform">
            <div class="row">
               <center><input type="button"  runat="server" OnClick="window.location.href='/Register'" Text="Submit" Width="89px" value="Sign Up"></center>
            </div>
            &nbsp;
            &nbsp;
            <div class="row">
               <center> <input type="button" runat="server" OnClick="window.location.href='/Login'" Text="Submit" Width="89px" value="Login"></center>
            </div>
        </form>
      </div>
   </body>
</html>